#main-loading{
  background-color: #000;
  position: relative;
}

#main-loading #app-loading{
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url('images/logo_USGS_black.png');
  background-repeat: no-repeat;
  font-size: 16px;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-loading #loading-gif{
  position: absolute;
  background-image: ;
  background-repeat: no-repeat;
  width: 58px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
