.claro .dijitSelect {
    background-color: #f0f0f0;
    height: 30px;
}
.claro .dijitSelect .dijitArrowButton {
    background-color: #d9dde0;
    background-position: center;
    background-repeat: no-repeat;
}
.claro .dijitSelect .dijitInputField {
    padding: 1px 10px;
}
.claro .dijitSelect input {
    float: none;
    margin: auto;
}
.claro .dijitMenu .dijitMenuItemSelected td {
    background-color: #d9dde0;
}
.dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton {
    width: 100%;
}
.dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton {
    width: 100%;
}
.dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner {
    width: 100%;
}
.dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
    width: 100%;
}
.claro .dijitTextBox {
    height: 30px;
    border-color: #d9dde0;
}
.claro .dijitInputContainer {
    line-height: 28px;
}
.claro .dijitTextBox .dijitInputField {
    padding: 1px 10px;
}
.claro .dijitTextBox .dijitInputInner {
    padding: 0px !important;
    height: 26px;
    line-height: 26px !important;
    font-size: 14px;
}
.claro .dijitTextBox .dijitPlaceHolder {
    height: 28px;
    font-size: 14px;
}
.claro .dijitTextBoxFocused {
    border-color: #51b1fe !important;
    box-shadow: 0px 0px 5px #51b1fe;
}
.claro .dijitTextBoxHover {
    border-color: #759dc0;
}
.claro .dijitValidationTextBox .dijitValidationContainer,
.claro .dijitSpinner .dijitSpinnerButtonContainer,
.claro .dijitSpinner .dijitInputContainer {
    height: 100%;
}
.claro .dijitTextBoxError {
    border-color: #d46464 !important;
    box-shadow: 0px 0px 5px #d46464;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.claro .dojoxColorPickerOptional input {
    box-sizing: content-box;
}
table.dijitDownArrowButton.dijitSelect.restrict-select-width {
    table-layout: fixed;
}
table.dijitDownArrowButton.dijitSelect.restrict-select-width > tbody > tr > td.dijitStretch > div.dijitButtonText {
    text-align: left;
}
.jimu-rtl table.dijitDownArrowButton.dijitSelect.restrict-select-width > tbody > tr > td.dijitStretch > div.dijitButtonText {
    text-align: right;
}
table.dijitDownArrowButton.dijitSelect.restrict-select-width > tbody > tr > td.dijitStretch {
    width: auto;
}
table.dijitDownArrowButton.dijitSelect.restrict-select-width > tbody > tr > td.dijitStretch > div.dijitInputField {
    width: 100%;
    overflow: hidden;
}
table.dijitDownArrowButton.dijitSelect.restrict-select-width > tbody > tr > td.dijitDownArrowButton {
    width: 18px;
}
.claro .dijitComboBox>div.dijitArrowButton.dijitDownArrowButton {
    width: 18px;
    height: 100%;
}
.claro .dijitComboBox>div.dijitArrowButton.dijitDownArrowButton>input {
    padding: 0;
    border: 0;
    display: inline-block;
    height: 100% !important;
}
.claro .dijitSelect .dijitReset.dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer {
    width: 20px;
}
.jimu-rtl .dgrid-rtl-swap .dgrid-header-row {
    right: 0;
    left: 17px;
}
.jimu-rtl .dgrid-cell {
    border-right-style: none;
    border-left: solid 1px #ccc;
}