.esriPopup,
.esriPopupMobile,
.esriMobileNavigationBar,
.esriMobilePopupInfoView {
    z-index: 108
}
.esriRtl .esriPopupWrapper {
    text-align: right;
}
.esriPopup .esriPopupWrapper {
    font-family: Arial, Helvetica, Verdana, sans-serif !Important;
}
.esriPopup .contentPane {
    background-color: #ffffff;
}
.esriPopup .actionsPane {
    background-color: #ffffff;
}
.esriMobilePopupInfoView .esriMobileInfoViewItem .action {
    margin-right: 10px;
}
.esriPopup .actionList {
    overflow: hidden;
}
.esriPopup .actionList .popup-menu-button,
.esriMobilePopupInfoView .esriMobileInfoViewItem .popup-menu-button {
    float: right;
    width: 36px;
    height: 15px;
}
.esriMobilePopupInfoView .esriMobileInfoViewItem .popup-menu-button {
    margin-top: 10px;
    background-position: left;
    float: left;
}
.jimu-rtl .esriPopup .actionList .popup-menu-button {
    float: left;
}
.esriPopup .esriViewPopup.second-page-mode,
.esriMobileInfoView.esriMobilePopupInfoView .esriViewPopup.second-page-mode {
    position: relative;
    top: 30px;
}
.esriPopup .related-records-popup-projector {}.esriPopup .related-records-popup-projector.second-page-mode,
.esriMobileInfoView.esriMobilePopupInfoView .related-records-popup-projector.second-page-mode {
    min-height: 60px;
    padding-top: 30px;
}
.esriPopup .related-records-popup-projector .operation-box,
.esriMobileInfoView.esriMobilePopupInfoView .operation-box {
    border-bottom: 1px solid #DDDDDD;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif !Important;
    font-size: 13px;
}
.esriPopup .related-records-popup-projector .operation-box .previos-btn,
.esriMobileInfoView.esriMobilePopupInfoView .previos-btn {
    position: absolute;
    left: 10px;
    cursor: pointer;
    height: 100%;
    line-height: 28px;
}
.jimu-rtl .esriPopup .related-records-popup-projector .operation-box .previos-btn,
.jimu-rtl .esriMobileInfoView.esriMobilePopupInfoView .previos-btn {
    left: auto;
    right: 10px;
}
.esriPopup .related-records-popup-projector .operation-box .operation-title,
.esriMobileInfoView.esriMobilePopupInfoView .operation-title {
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.esriPopup .related-records-popup-projector .content-box .title-box,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .title-box {
    font-family: Arial, Helvetica, Verdana, sans-serif !Important;
    height: 25px;
    line-height: 25px;
}
.esriPopup .related-records-popup-projector .content-box .title-box.font-normal,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .title-box.font-normal {
    font-weight: normal;
    color: #666666;
}
.esriPopup .related-records-popup-projector .content-box .hzLine,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .hzLine {
    border: none;
    border-top: 1px solid #333333;
    margin-top: 6px;
    margin-bottom: 6px;
}
.esriPopup .related-records-popup-projector .content-box .item,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .item {
    position: relative;
    cursor: pointer;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    background-image: url("./images/details_normal.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    height: 25px;
    line-height: 25px;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.jimu-rtl .esriPopup .related-records-popup-projector .content-box .item,
.jimu-rtl .esriMobileInfoView.esriMobilePopupInfoView .content-box .item {
    padding-left: 20px;
    padding-right: auto;
    background-position: left 5px center;
    background-image: url("./images/details_rtl_normal.svg");
}
.esriPopup .related-records-popup-projector .content-box .item.oddLine,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .item.oddLine {
    background-color: #f3f3f3;
}
.esriPopup .related-records-popup-projector .content-box .item:hover,
.esriMobileInfoView.esriMobilePopupInfoView .content-box .item:hover {
    background-image: url("./images/details_hover.svg");
}
.jimu-rtl .esriPopup .related-records-popup-projector .content-box .item:hover,
.jimu-rtl .esriMobileInfoView.esriMobilePopupInfoView .content-box .item:hover {
    background-image: url("./images/details_rtl_hover.svg");
}